#!/bin/zsh

# own port
export TWIX_PORT="op://dev/seal-app/twix_port"

# how twix will access rolo
export ROLO_URL="http://localhost:{{ op://dev/seal-app/rolo_port }}"
export ROLO_APIKEY_TEST="op://dev/twix/apikey_test"
export ROLO_APIKEY_LIVE=""

# how twix will refer to rolo externally
export ROLO_URL_CANONICAL="op://dev/seal-app/rolo_url_canonical"

# credentials TODO: move to registry
export PADDLE_CREDENTIALS='{{ op://dev/paddle/paddle_credentials }}'
export TWIX_APIKEYS='op://dev/twix/apikeys'
export SMTP_CONFIG='{{ op://dev/twix_smtp/config_json }}'
export REPORTS_CONFIG='{{ op://dev/twix_reports/config_json }}'
export HMA_ROOT='{{ op://dev/hma/api_root }}'